
body{
  margin: 0;
  font-size: 18px;
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  padding: 2rem ;
}
.avatar{
  display: flex;
  align-items: center;
  justify-content: start;
}
.avatar img{
  width: 3rem;
  border-radius: 50%;
  border: 1px solid white;
  margin-top: 1rem;
}
.container{

  background-color: hsl(216, 50%, 16%);
  border-radius: 0.5rem;
  padding: 1.25rem;
  margin:0.5rem auto;
}
.equilibrium{
  border-radius: 0.5rem;
  max-width: 100%;
  height: 100%;
}
ul{
  padding: 1.2rem 0;
  justify-content:space-between;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}
ul, li{
  display: flex;
  align-items: center;
}
li img{
  margin-right: 0.5rem;
}
li:first-child{
  color: cyan;
}
h2{
  color: white;
}
span{
  color: white;
  font-weight: 400;
}
h2{
  margin: 1rem 0.5rem 0.5rem 0;
}
p{
  font-weight: 300;
}
p, .firstPara, li:last-child {
  color:hsl(215, 51%, 70%);
}
.avatar p {
  margin-left: 1rem;
}
.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
  .container{
    margin:auto ;
    width: 35%;
  }

}

h2:hover, span:hover{
  color: cyan;
  cursor: pointer;
}
.firstImage{
  position: relative;
}
.blank{
  position:absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 0.5rem;
  background-color: hsla(178, 100%, 50%, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.blank:hover{
  opacity: 1;
  cursor: pointer

}
.view{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
